html, body{


    font-family: 'Bebas Neue', cursive;
    margin:0;
    padding:0;
}
body{
    display: flex;
    
    background-color: #fcf8ec;
}

#section1{
    background-image: url('../fond.png');
    background-repeat: no-repeat;
    background-size: cover;
    
    width:100vw;
    height:100vh;
    box-sizing: border-box;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    transition-duration:1s;
}


#top{
    width:100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    flex:1;
}

h1{
    font-family: 'Bebas Neue', cursive;
    letter-spacing: 10px;
    font-size: 400%;
}

h2{
    object-fit: contain;
    overflow-x: hidden; 
    
}


.cls-4{
    animation: bouge 2s infinite alternate;
}
@keyframes bouge{
    from{
        transform: translate(-50px,-40px);
    }
    to{
        transform: translate(-100px,-90px);
    }

}



#trompette{
    transform-origin: center;
    animation: joue 2s infinite alternate;
}

#sax{
    transform-origin: center;
    animation: joue 2s infinite alternate;
}

#note1{
    animation: bouge 3.5s infinite alternate;
}
#note2{
    animation: bouge 3s infinite alternate;
}

@keyframes joue{
    from{
        transform: rotate(-8deg);
    }
    to{
        transform: rotate(8deg);
    }

}


#mid{
    width:100vw;

    flex:1;
    display:flex;
    justify-content: center;
    align-items:center;
}

form{
    width:20vw ;
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-content:center;
}

input{
    font-family: 'Roboto', sans-serif;
    padding: 15px;
    margin: 10px;
    border:0px;
}



#search{

    padding:10px;
    
    background-color:#9aaad7;
    color:#fcf8ec;
    font-family: 'Bebas Neue', cursive;
    margin:10px;
    border: 0px;
    transition-duration: 0.2s;
}

#search:hover{
    background-color:#fcf8ec ;
    color:#9aaad7;
    transition-duration: 0.2s;
    cursor: pointer;
    letter-spacing: 3px;

}

.bot{
    text-align: center;
    width:100vw;
    flex:1;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    font-family: 'Roboto', sans-serif;
    font-size: xx-small;
    color:#fcf8ec;
    object-fit: contain;
    overflow-x: hidden; 
    

}



#anim1{
    display: block;
    box-sizing: border-box;
    flex:1;
    padding-left:10%;
    padding-right:10%;
}
#form{
    flex:1;
}
#anim2{
    box-sizing: border-box;
    flex:1;
    padding-left:10%;
    padding-right:10%;
}


#section2{
    width:0vh;
    display:flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    height: auto;
    background-image: linear-gradient(45deg, #da9ff9, #bedcfa);
    transition-duration:1s;
    box-sizing: border-box;
}





#titre_oeuvre{
    text-align: center;
    font-size: 400%;
    margin:0;
    object-fit: contain;
    overflow-x: hidden; 
}
#auteur{
    
    text-align: center;
    object-fit: contain;
    overflow-x: hidden; 
}

.parole{
    width: auto;
    color:#1e1e1e ;
    text-align: center;
    white-space: pre;
}

#bas{
    display:flex;
    flex-direction:column;
    justify-content:center;
    align-items:center;
    object-fit: contain;
    overflow-x: hidden;
    width: 20%;
    

}

#retour{
    background-color:#fcf8ec ;
    margin:3% 0%;
    font-family: 'Bebas Neue', cursive;
    border: 0px;
    transition-duration: 0.2s;
    padding: 5px 20px ;
    object-fit: contain;
    overflow-x: hidden;
    cursor: pointer;
    
}


    

#retour:hover{
    background-color: rgba(0, 0, 0, 0) ;
    color:#fcf8ec;
    transition-duration: 0.2s;
    cursor: pointer;
    letter-spacing: 3px;

}
@media (max-width: 768px) {
   
    #anim1{
        display: none;
    }

    #anim2{
        display: none;
    }   
}